/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* variables */
:root {
  --blue: #0065fc;
  --light-blue: #deebff;
  --gray: #f2f2f2;
  --font-family: "Raleway", sans-serif;
}

/* generals - base */

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: var(--font-family);
}

.blue {
  color: var(--blue);
}
.gray {
  color: #d9d9d9;
}

/* header */

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 125px;
}

.logo img {
  width: 90px;
  margin-left: 50px;
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 200px;
  padding: 0 40px;
  font-size: 16px;
  color: black;
  border-top: 3px solid white;
}

nav a:hover {
  border-top: 3px solid var(--blue);
  color: var(--blue);
  font-weight: bold;
}

/* main */

main {
  margin-left: 50px;
}

/* article top */

.search h1 {
  font-size: 22px;
  margin-bottom: 15px;
}

.search .hint {
  font-size: 16px;
  margin-bottom: 15px;
}

/* localization finder  */
.localization-finder {
  display: flex;
  align-items: center;
  height: 50px;
  /* border: 2px solid var(--gray); */
  border-radius: 15px;
  overflow: hidden;
  max-width: 420px;
}

.localization-finder button,
input {
  text-decoration: none;
  border: none;
}

.current-localization-btn {
  flex-basis: 15%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 0 15px;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid var(--gray) !important;
}

.city-input {
  flex-basis: 45%;
  height: 100%;
  padding: 15px;
  border-top: 2px solid var(--gray);
  border-bottom: 2px solid var(--gray);
  font-size: 18px;
  font-family: var(--font-family);
  font-weight: bold;
  outline: none;
}

/* on desactive l'icone réservé aux format mobile */
.fa-magnifying-glass {
  display: none;
}

.search-btn::before {
  content: "Rechercher";
}
.search-btn {
  flex-basis: 40%;
  height: 100%;
  padding: 0 10px;
  border: 2px solid var(--blue) !important;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background: var(--blue);
  cursor: pointer;
}

/* filter container */

.filter-container {
  margin: 30px 0 35px 0;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.filter-container h2 {
  font-size: 20px;
  margin-right: 20px;
}

.filter-container ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.filter-container ul li {
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
  margin: 10px;
  border: 2px solid var(--gray);
  border-radius: 40px;
  cursor: pointer;
  transition: transform 0.4s;
}
.filter-container ul li:hover {
  transform: scale(1.1);
  border: 2px solid var(--blue);
}

.filter-container ul li i {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -2px;
  left: -4px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--light-blue);
  font-size: 20px;
  color: var(--blue);
}

.filter-container ul li span {
  font-size: 18px;
  font-weight: bold;
  padding-left: 60px;
  padding-right: 15px;
}

/* text-info */
.info-text {
  margin-bottom: 30px;
}

.info-text i {
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
  margin-right: 10px;

  height: 25px;
  width: 25px;
  border: 2px solid var(--gray);
  border-radius: 50%;
  font-size: 14px;
  color: var(--blue);
}

/* article main */

.middle-container {
  display: flex;
  justify-content: flex-start;
}

/* hebergement */

#hebergement {
  width: 880px;
  background: var(--gray);
  border-radius: 20px;
  padding: 20px;
  margin-right: 40px;
}

#hebergement h2 {
  margin-left: 20px;
  margin-top: 15px;
  font-size: 22px;
}

.show-more {
  display: block;
  margin-left: 20px;
  margin-top: 25px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.show-more:hover {
  color: var(--blue);
}
.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 10px;
}

.card {
  background: white;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 4px;
}

.main-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 245px;
  height: 200px;
  margin: 15px;
}

.card-animation {
  transition: all 0.4s ease-in-out;
}

.card-animation:hover {
  transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main-card img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  height: 58%;
}

.card h3 {
  margin: 10px 0 7px 10px;
  font-size: 16px;
}

.card p {
  margin: 0 0 7px 10px;
  font-size: 14px;
}

.star-container {
  margin-left: 10px;
}

.star-container i {
  font-size: 12px;
}

/* populaires */

.popular {
  display: flex;
  flex-flow: column nowrap;
  max-width: 420px;
  height: 625px;
  background: var(--gray);
  border-radius: 20px;
  padding: 30px;
  margin-right: 40px;
}

.popular-card {
  display: flex;
  flex-flow: row nowrap;
  max-width: 345px;
  min-width: 292px;
  height: 145px;
  margin-top: 30px;
}

.popular-header {
  display: flex;
  justify-content: space-between;
}

.popular-header h2 {
  font-size: 22px;
}

.popular-header i {
  font-size: 24px;
  line-height: 1.2;
  margin-right: 5px;
}

.popular-card h3 {
  margin: 10px 15px;
}

.popular-card p {
  margin: 0 15px;
}

.popular-card img {
  width: 40%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  object-fit: cover;
  height: 100%;
}
.popular-card .star-container {
  margin-top: 35px;
}

.popular .star-container {
  margin-left: 15px;
}

/* Activities large */

.bottom-container {
  margin-top: 60px;
  margin-bottom: 50px;
}

.bottom-container h3 {
  flex-basis: 56px;
  padding: 20px 0 0 20px;
}

#activites {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.activities-large {
  display: flex;
  flex-flow: column nowrap;
  width: 300px;
  height: 445px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  margin-right: 45px;
  margin-top: 25px;
}

.activities-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 300px;
  height: 445px;
  margin-right: 45px;
  margin-top: 25px;
}

.activities-large img {
  flex: 1;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  overflow: hidden;
}

/* Activities pomegues */

.activities-pomegues {
  display: flex;
  flex-flow: column nowrap;
  width: 300px;
  height: 235px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
}

.activities-pomegues img {
  flex: 1;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  overflow: hidden;
}

/* Activities frioul */

.activities-frioul {
  display: flex;
  flex-flow: column nowrap;
  width: 300px;
  height: 165px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
}

.activities-frioul img {
  flex: 1;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  overflow: hidden;
}

/* Activities notre-dame */

.activities-notre-dame {
  display: flex;
  flex-flow: column nowrap;
  width: 300px;
  height: 195px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
}

.activities-notre-dame img {
  flex: 1;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  overflow: hidden;
}

/* activities longchamp */

.activities-longchamp {
  display: flex;
  flex-flow: column nowrap;
  width: 300px;
  height: 210px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
}

.activities-longchamp img {
  flex: 1;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  overflow: hidden;
}

/* footer */

footer {
  display: flex;
  justify-content: flex-start;
  min-height: 225px;
  width: 100%;
  padding-left: 50px;
  padding-top: 50px;
  background: var(--gray);
}

.footer-box {
  margin-right: 225px;
}

.footer-box h3 {
  margin-bottom: 20px;
}

.footer-box li {
  margin-bottom: 15px;
}

.footer-box li a {
  color: black;
}

.footer-box li a:hover {
  color: var(--blue);
}
