/* generals / basics */

h2,
h1 {
  text-align: center;
}

/* search section */

.hint {
  text-align: center;
}

.localization-finder {
  margin: 0 auto;
}

/* main */

main {
  margin: 0 25px;
}

.middle-container {
  flex-flow: column;
  align-items: center;
}

/* hebergement */

#hebergement {
  margin: 0 0 40px 0;
  width: 100%;
}

/* popular */

.popular {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0;
  align-items: center;
}

.popular-header {
  justify-content: center;
}

.popular-header h2 {
  margin-right: 50px;
}

.popular-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.popular-card {
  display: flex;
  flex-flow: row nowrap;
  min-width: 500px;
  height: 200px;
  margin-top: 30px;
}

.popular-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 20px;
}

.popular-card img {
  width: 55%;
  border-radius: 20px;
}

.popular .star-container {
  margin: 20px 0 0 15px;
}

/* footer */

.footer-container {
  height: 100%;
  padding-left: 50px;
  padding-top: 20px;
}
.footer-box {
  margin-right: 150px;
}
