footer {
  display: flex;
  justify-content: flex-start;
  height: 225px;
  width: 100%;
  padding-left: 50px;
  padding-top: 50px;
  background: var(--gray);
}

.footer-box {
  margin-right: 225px;
}

.footer-box h3 {
  margin-bottom: 20px;
}

.footer-box li {
  margin-bottom: 15px;
}

.footer-box li a {
  color: black;
}

.footer-box li a:hover {
  color: var(--blue);
}
